* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #343E4A;
  }

body {
  height: 100%;

  /* Set background gradient colour */
  background-image: linear-gradient(#F5F4F2, #F0EEEB);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Grid setup */
.grid-container {
  margin: auto;
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 2fr;
  gap: 0px 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "library-header library-header library-header"
    "library library add";
  }
  
  .header {
    width: 100%;
    background-color: white;
    box-shadow: 0px 4px 8px rgb(69,51,22,0.05);
    position: sticky;
    top: 0;
  }

  .heading-content {
    max-width: 1200px;
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
  }

  .heading-text {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
  }

  button {
    padding: 0.75em 2em;
    border-radius: 5em;
    color: white;
    background-color: #343E4A;
    border-style: none;
    align-items: end;
  }
  
  .library {
    grid-area: library;
    margin: auto;
    height: 100%;
    width: 100%;
  }

  .library-header {
    padding: 1em .25em .25em .25em;
  }

  h2 {
    font-size: larger;
    font-weight: 600;
  }

  h3 {
    font-size: medium;
    font-weight: 600;
  }

  ul {
    list-style: none;
  }

  .library-empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.05);
    border-radius: 8px;
  }

  .empty-img {
    padding: 1em;
  }
  
  .add {
    grid-area: add;
    margin: 0 auto;
  }
  
  form {
    border: none;
    border-radius: 8px;
    padding: 1em;
    max-width: 25em;
    background-color: white;
    box-shadow: 0px 4px 8px rgb(69,51,22,0.05);
  }
    
    .form-row {
      display: flex;
      justify-content: space-between;
    }
    
    label {
      font-size: small;
      font-weight: 500;
    }
    
    .form-field {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: .5em;      
    }

    .form-field > input,
    .form-field > select,
    .form-field > textarea {
      padding: .5em;
      flex-grow: 1;
      border-color: #ECECEC;
      border-width: 2px;
      border-radius: 8px;
      border-style: solid;
      outline-color: #3E8C97;
      max-width: auto;
    }

    select:invalid,
    input:invalid {
      color: #DEDEDE;
    }

    #bookStart, #bookFinish {
      height: 36px;
      width: 100%;
      font-size: smaller;
    }

    #startDateField, #finishDateField {
      max-width: 50%;
    }

    textarea {
      resize: none;
    }

    #bookNotes {
      padding: .5em;
    }

    .form-header {
      display: flex;
      padding: .5em;
      font-weight: 600;

    }

    .form-header > input,
    .form-header > select {
      padding: .5em;
      flex-grow: 1;
      outline-color: #3E8C97;
      ;
    }

    ::placeholder {
      color: #DEDEDE;
    }

    #bookTitle {
      padding: .25em;
      max-width: 7em;
      word-break: break-word;
      border-style: none;
      outline: none;
      font-weight: 600;
      font-size:xx-large;
    }

    #bookTitleLabel {
      padding-left: .5em;
      font-weight: 600;
      font-size: large;
    }

    .genre-preview {
      max-width: 8em;
      max-height: 12em;
      border-radius: 8px;
      object-fit: cover;
    }

    /* STAR RATING SYSTEM. Adapted from: https://codeconvey.com/css-star-rating-radio-buttons/ (08/06/2023) */
    .star-group {
      /* remove inline-block whitespace */
      font-size: 0;
      /* flip the order so we can use the + and ~ combinators */
      unicode-bidi: bidi-override;
      direction: rtl;
      /* the hidden clearer */
    }
    .star-group * {
      font-size: 1.5rem;
    }
    .star-group > input {
      display: none;
    }
    .star-group > input + label {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      white-space: nowrap;
      cursor: pointer;
    }
    .star-group > input + label:before {
      display: inline-block;
      text-indent: -9999px;
      content: "☆";
      color: #D9D9D9;
    }
    .star-group > input:checked ~ label:before, .star-group > input + label:hover ~ label:before, .star-group > input + label:hover:before {
      content: "★";
      color: #3E8C97;
      text-shadow: none;
    }
    .star-group > .star-cb-clear + label {
      text-indent: -9999px;
      width: .5em;
      margin-left: -.5em;
    }
    .star-group > .star-cb-clear + label:before {
      width: .5em;
    }
    .star-group:hover > input + label:before {
      content: "☆";
      color: #D9D9D9;
      text-shadow: none;
    }
    .star-group:hover > input + label:hover ~ label:before, .star-group:hover > input + label:hover:before {
      content: "★";
      color: #3E8C97;
      text-shadow: none;
    }

    #ratingLabel {
      padding-left: .5em;
    }

    fieldset {
      border: none;
      padding-left: .1em;
    }

    .form-submit-button > input {
      margin: 0.5em;
      padding: 0.75em 2em;
      border-radius: 5em;
      color: white;
      background-color: #343E4A;
      border-style: none;
      align-items: end;
    }

    #submitButton {
      align-items: end;
      justify-content: end;
      padding: 0;
    }

    .card {
      background-color: white;
      border-radius: 8px;
      box-shadow: 0px 4px 8px rgb(69,51,22,0.05);
      margin-bottom: 1em;
      display: flex;
    }

    .card > img {
      border-radius: 8px 0px 0px 8px;
      min-width: 200px;
      max-height: 120px;
      object-fit: cover;
    }

    .nibble-info {
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .rating-wrap {
      color:#DEDEDE;
    }